#main,#header {
    margin: 25px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

div.show_div_red{
    background: coral;
}

div.show_div_green{
    background: greenyellow;
}
